@font-face {
    font-family: 'bz-jys';
    src: url('/assets/css/MyFont/baizhou-jingyuanshu.ttf') format('truetype'),
         url('/assets/css/MyFont/baizhou-jingyuanshu-webfont.woff2') format('woff2'),
         url('/assets/css/MyFont/baizhou-jingyuanshu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h2.test{
    font-family: 'bz-jys'
}
